body{
 
}
.image {
    width: 70px;
    margin-top: 50px;
  }
  .responsive{
    width: 40%;
    height: auto;
  }
.container{
    display: flexbox;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}